@use './mixins';
@use './default';

body,
html {
	font-size: 0.52vw; // 1920 base 10px
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

body {
	/* common */
	--basic-white: #ffffff;
	--basic-black: #111111;

	--text-color: var(--basic-black);
	--text-reverse-color: var(--basic-white);
	--background: linear-gradient(135deg, #e5ecf0, #ffffff);
	--divider-color: #131313;

	/* panel */
	--panel-color: #f5f4f8;
	--panel-border-color: #ffffff;
	--panel-shadow: 0px 4px 6px 1px #b3c2d0;

	--flip-text-color: var(--basic-white);
	--flip-upper-color: linear-gradient(to top, #131313, #252525);
	--flip-lower-color: linear-gradient(to bottom, #1c1c1c, #292929);
}

body[data-theme='dark'] {
	/* common */
	--text-color: var(--basic-white);
	--background: linear-gradient(135deg, #1c1e21, #282d33);
	--divider-color: #ececec;

	/* panel */
	--panel-color: #1b1e23;
	--panel-text-color: var(--basic-white);
	--text-reverse-color: var(--basic-black);
	--panel-border-color: #71768280;
	--panel-shadow: 0px 4px 6px 2px #00000090;

	--flip-text-color: var(--basic-black);
	--flip-upper-color: linear-gradient(to top, #d1d6da, #ffffff);
	--flip-lower-color: linear-gradient(to bottom, #d1d6da, #e9edef);
}

body {
	color: var(--text-color);
	background: var(--background);
}
