@use './mixins';
@use './default';

body,
html {
	font-size: 0.52vw; // 1920 base 10px
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

html {
	// common
	--basic-white: #ffffff;
	--basic-black: #111111;

	--active-color: #42de6c;
	--active-color-02: #4ded78;
	--error-color: #ff4834;
	--info-color: #3478ff;

	--app-background: linear-gradient(135deg, #e5ecf0, #ffffff);
	--surface-background: #e6ecf0;

	--text-color: var(--basic-black);
	--text-reverse-color: var(--basic-white);
	--divider-color: #131313;

	// panel
	--panel-color: #f5f4f8;
	--panel-border-color: #ffffff;
	--panel-shadow: 0px 4px 6px 1px #b3c2d0;

	--flip-text-color: var(--basic-white);
	--flip-upper-color: linear-gradient(to top, #131313, #252525);
	--flip-lower-color: linear-gradient(to bottom, #1c1c1c, #292929);

	// progress
	--progress-track-bg: #eee;

	// toast
	--toast-bg: var(--surface-background);
	--toast-border: #d9e0e5;
	--toast-shadow: 0px 2px 20px #e3e8ee;
	--toast-icon: #72797e;
}

html[data-theme='dark'] {
	// common
	--app-background: linear-gradient(135deg, #1c1e21, #282d33);
	--surface-background: var(--basic-black);

	--text-color: var(--basic-white);
	--text-reverse-color: var(--basic-black);
	--divider-color: #ececec;

	// panel
	--panel-color: #1b1e23;
	--panel-text-color: var(--basic-white);
	--panel-border-color: #71768280;
	--panel-shadow: 0px 4px 6px 2px #00000090;

	--flip-text-color: var(--basic-black);
	--flip-upper-color: linear-gradient(to top, #d1d6da, #ffffff);
	--flip-lower-color: linear-gradient(to bottom, #d1d6da, #e9edef);

	// progress
	--progress-track-bg: var(--basic-black);

	// toast
	--toast-bg: #3d4145;
	--toast-border: #525659;
	--toast-shadow: 0px 2px 20px #1b1e23;
	--toast-icon: #e2e7eb;
}

body {
	color: var(--text-color);
	background: var(--app-background);
}

.button {
	padding: 12px;
	color: var(--text-color);
	font-size: 16px;
	border-radius: 999px;
	background-color: var(--surface-background);
	transition: background-color 0.3s ease;

	&:hover {
		background: var(--active-color);
		color: var(--basic-black);
	}
	&:active {
		transform: scale(0.95);
	}

	&.primary {
		color: var(--basic-black);
		background-color: var(--active-color);
		&:hover {
			background-color: var(--active-color-02);
		}
	}
}
